<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="BgInfoPath" value="C:\ProgramData\chocolatey\lib\sysinternals\tools\Bginfo64.exe" />
        <add key="BgInfoConfigPath" value="C:\Packer\Config\logon.bgi" />
        <add key="BgInfoTimer" value="0" />
        <add key="BgInfoPopup" value="False" />
        <add key="BgInfoSilent" value="True" />
        <add key="BgInfoTaskbar" value="False" />
        <add key="BgInfoLog" value="False" />
        <add key="BgInfoRTF" value="False" />
        <add key="BgAssistHideSystemTrayIcon" value="True" />
    </appSettings>
</configuration>